<div>
  <h1>Mon Budget</h1>
  <div class="max-w-xl">
    <form>
      <div *ngFor="let category of categories" class="flex gap-2 my-2 justify-between">
        <label class="flex align items-center">
          <span class="rounded-full h-8 w-8 inline-block mr-2 p-1.5" [ngStyle]="{'background-color': category.color}">
            <svg-icon [key]="category.icon" color="white" size="lg" *ngIf="category.default"></svg-icon>
            <nb-icon *ngIf="!category.default" [icon]="category.icon" status="control"></nb-icon>
          </span>
          <span class="font-semibold">{{ category.name }}:</span>
        </label>
        <input class="inline-block" [(ngModel)]="category.amount" nbInput placeholder="Budget" [name]="category.id">
        <!---->
      </div>
      <button nbButton status="primary" class="mt-6 mx-auto !block" (click)="saveBudget()">Enregistrer Budget</button>
    </form>
  </div>
</div>
